body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hibrido {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}